{% extends "patient/base.html" %}
{% load static %}
{% block content %}
<!-- Breadcrumb -->
<!-- Page Title -->
<div class="row no-margin-padding">
   <div class="col-md-6">
      <h3 class="block-title">Appointments</h3>
   </div>
   <div class="col-md-6">
      <ol class="breadcrumb">
         <li class="breadcrumb-item">
            <a href="{% url "patient:user_index" %}">
            <span class="ti-home"></span>
            </a>
         </li>
         <li class="breadcrumb-item">Appointments</li>
         <li class="breadcrumb-item active">Appointments List</li>
      </ol>
   </div>
</div>
<!-- /Page Title -->
<!-- Main Content -->
<div class="container-fluid">
   <div class="row">
      <!-- Widget Item -->
      <div class="col-md-12">
         <div class="widget-area-2 proclinic-box-shadow">
            <div
               class="d-flex justify-content-between align-items-center mb-3"
               >
               <h3 class="widget-title">Appointment List</h3>
               <a href="{% url "patient:book-appointment" %}" class="btn btn-primary"
               ><span class="ti-plus"></span> Book Appointment</a
                  >
            </div>
            <div class="table-responsive mb-3">
				<table id="tableId" class="table table-bordered table-striped">
					<thead>
					   <tr>
						  <th class="no-sort">
							 <div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="select-all">
								<label class="custom-control-label" for="select-all"></label>
							 </div>
						  </th>
						  <th>Appointment ID</th>
						  <th>Doctor Name</th>
						  <th>Problem</th>
						  <th>Date</th>
						  <th>Time</th>
						  <th>Status</th>
					   </tr>
					</thead>
					<tbody>
					   {% for appointment in appointments %}
					   <tr>
						  <td>
							 <div class="custom-control custom-checkbox">
								<input class="custom-control-input" type="checkbox" id="{{ appointment.id }}">
								<label class="custom-control-label" for="{{ appointment.id }}"></label>
							 </div>
						  </td>
						  <td>{{ appointment.id }}</td>
						  <td>{{ appointment.doctor.user.first_name }}</td>
						  <td>{{ appointment.disease.problem_name }}</td>
						  <td>{{ appointment.appointment_date|date:'d-m-Y' }}</td>
						  <td>{{ appointment.appointment_time }}</td>
						  <td>
							{% if appointment.status == 'P' %}
								<span class="badge badge-warning">Pending</span>
							{% elif appointment.status == 'C' %}
								<span class="badge badge-success">Confirmed</span>
							{% elif appointment.status == 'D' %}
								<span class="badge badge-primary">Completed</span>
							{% elif appointment.status == 'X' %}
								<span class="badge badge-danger">Canceled</span>
							{% else %}
								<span class="badge badge-secondary">Unknown</span>
							{% endif %}
						</td>
						
					   </tr>
					   {% empty %}
					   <tr>
						  <td colspan="7">No appointments found.</td>
					   </tr>
					   {% endfor %}
					</tbody>
				 </table>
              </div>
         </div>
      </div>
   </div>
</div>
<!-- /Main Content -->
</div>
<!-- /Page Content -->
</div>
{% endblock %}

