{% extends "patient/base.html" %}
{% load static %}
{% block content %}
<head>
  <style>
    #available_slots {
      display: flex;
      flex-wrap: wrap; /* Allows wrapping to next line if necessary */
      gap: 5px; /* Adjust gap between slots */
  }
  
  .slot-item {
      flex: 1 0 12%; /* Adjust to fit more slots in a row */
      margin-bottom: 10px; /* Space below each slot */
  }
  
  .btn-slot {
      border-radius: 5px; /* Remove border-radius for square buttons */
      width: 100%; /* Full width within its column */
      text-align: center; /* Center text inside the button */
      padding: 5px; /* Adjust padding to make buttons smaller */
      box-sizing: border-box; /* Ensures padding is included in width calculation */
      font-size: 0.8em; /* Adjust font size if needed */
  }
  
  .btn-outline-success {
      border-color: #28a745;
      color: #28a745;
  }
  
  .btn-outline-success.selected {
      background-color: #28a745;
      color: #fff;
  }
  
  .d-none {
      display: none;
  }
  </style>
</head>
        <!-- Page Title -->
        <div class="row no-margin-padding">
          <div class="col-md-6">
            <h3 class="block-title">Book Appointment</h3>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url "patient:user_index" %}">
                  <span class="ti-home"></span>
                </a>
              </li>
              <li class="breadcrumb-item">Appointments</li>
              <li class="breadcrumb-item active">Book Appointment</li>
            </ol>
          </div>
        </div>
        <!-- /Page Title -->

        <!-- Main Content -->
        <div class="container-fluid">
          <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
              <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Book Appointment</h3>
                <!-- appointment_form.html -->
                {% if form.non_field_errors %}
                <div class="alert alert-danger">
                  {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <form method="POST" action="{% url 'patient:book-appointment' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="{{ form.doctor.id_for_label }}">Select Doctor:</label>
                        <select 
                            class="form-control{% if form.doctor.errors %} is-invalid{% endif %}" 
                            id="id_doctor" 
                            name="doctor" 
                            onchange="fetchDiseases(this.value)" 
                            required
                        >
                            <option value="">Select a Doctor</option>
                            {% for doctor in doctors %}
                                <option value="{{ doctor.id }}" {% if form.doctor.value == doctor.id|stringformat:"s" %}selected{% endif %}>
                                   Dr. {{ doctor.user.first_name }} ({{ doctor.specialization.specialization_name }})
                                </option>
                            {% endfor %}
                        </select>
                        {% if form.doctor.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.doctor.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                        <label for="{{ form.disease.id_for_label }}">Select Disease:</label>
                        <select 
                            class="form-control{% if form.disease.errors %} is-invalid{% endif %}" 
                            id="id_disease" 
                            name="disease" 
                            required
                        >
                            <option value="">Select a Disease</option>
                            {% for disease in diseases %}
                                <option value="{{ disease.id }}" data-duration="{{ disease.time_required }}">{{ disease.problem_name }}</option>
                            {% endfor %}
                        </select>
                        {% if form.disease.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.disease.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <!-- Other fields for appointment date and time -->
                    <div class="form-group col-md-12">
                        <label for="{{ form.appointment_date.id_for_label }}">Appointment Date</label>
                        <input 
                            type="date" 
                            placeholder="Appointment Date" 
                            class="form-control{% if form.appointment_date.errors %} is-invalid{% endif %}" 
                            id="{{ form.appointment_date.id_for_label }}" 
                            name="appointment_date" 
                            value="{{ form.appointment_date.value|default_if_none:'' }}"
                            required
                        />
                        {% if form.appointment_date.errors %}
                            <div class="invalid-feedback">
                                {% for error in form.appointment_date.errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
            
                    <div class="form-group col-md-12">
                      <label for="available_slots">Available Time Slots</label>
                      <div id="available_slots" class="row">
                          <!-- Slots will be populated here -->
                      </div>
                      <!-- Hidden input to store the selected slot time -->
                      <input type="hidden" id="id_appointment_time" name="appointment_time" />
                  </div>
                                    
                </div>
                <div class="form-group col-md-6 mb-3">
                  <button type="submit" class="btn btn-primary btn-lg">
                      Book 
                  </button>
              </div>
            </form>
            
              
            </div>
            <!-- /Widget Item -->
          </div>
        </div>
        <!-- /Main Content -->
      </div>
      <!-- /Page Content -->
    </div>
    <script>
      
  </script>
{% endblock %}

