{% extends "doctor/base.html" %}
{% load static %}
{% block content %}

  <div class="wrapper">
      <!-- Page Content -->
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 auth-box">
              <div class="proclinic-box-shadow">
                <!-- Page Title -->
                <h3 class="widget-title">Change Password</h3>
                <!-- /Page Title -->

                <!-- Form -->
                <form class="widget-form">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        name="user"
                        type="password"
                        placeholder="Current Password"
                        class="form-control"
                        required=""
                        data-validation="length alphanumeric"
                        data-validation-length="3-12"
                        data-validation-error-msg="User name has to be an alphanumeric value (3-12 chars)"
                        data-validation-has-keyup-event="true"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        placeholder=" New Password"
                        name="pass_confirmation"
                        class="form-control"
                        data-validation="strength"
                        data-validation-strength="2"
                        data-validation-has-keyup-event="true"
                      />
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        placeholder="Confirm Password"
                        name="pass_confirmation"
                        class="form-control"
                        data-validation="strength"
                        data-validation-strength="2"
                        data-validation-has-keyup-event="true"
                      />
                    </div>
                  </div>

                  <!-- Button -->
                  <div class="button-btn-block">
                    <button
                      type="button"
                      class="btn btn-primary btn-lg btn-block"
                    >
                      Change Password
                    </button>
                  </div>
                  <!-- /Button -->
                  <!-- Linsk -->
                  <div class="auth-footer-text">
                    <small><a href="{% url "doctor:doctor-profile" %}">Back</a> Here</small>
                  </div>
                  <!-- /Links -->
                </form>
                <!-- /Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
{% endblock %}