{% extends "custom_admin/base.html" %}
{% load static %}
{% block content %}
        <div class="row no-margin-padding">
          <div class="col-md-6">
            <h3 class="block-title">Patients</h3>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">
                  <span class="ti-home"></span>
                </a>
              </li>
              <li class="breadcrumb-item">Patients</li>
              <li class="breadcrumb-item active">All Patients</li>
            </ol>
          </div>
        </div>
        <!-- /Page Title -->

        <!-- /Breadcrumb -->
        <!-- Main Content -->
        <div class="container-fluid">
          <div class="row">
            <!-- Widget Item -->
            <div class="col-md-12">
              <div class="widget-area-2 proclinic-box-shadow">
                <div
                  class="d-flex justify-content-between align-items-center mb-3"
                >
                  <h3 class="widget-title">Patients List</h3>
                  
                </div>

                <div class="table-responsive mb-3">
                  <table
                    id="tableId"
                    class="table table-bordered table-striped"
                  >
                    <thead>
                      <tr>
                        <th class="no-sort">
                          <div class="custom-control custom-checkbox">
                            <input
                              class="custom-control-input"
                              type="checkbox"
                              id="select-all"
                            />
                            <label
                              class="custom-control-label"
                              for="select-all"
                            ></label>
                          </div>
                        </th>
                        <th>Patient ID</th>
                        <th>Patient Name</th>
                        <th>Age</th>
                        <th>Phone</th> 
                        <th>last Visit</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody  >
                      {% for patient in patients %}
                        <tr>
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input
                                class="custom-control-input"
                                type="checkbox"
                                id="1"
                              />
                              <label class="custom-control-label" for="1"></label>
                            </div>
                          </td>
                          <td>{{ forloop.counter }}</td>
                          <td><b><a href="{% url "custom-admin:patient-about" patient.pk %}">{{ patient.user.first_name }} {{ patient.user.last_name }}</a></b></td>
                          <td>{{ patient.user.age }}</td>
                          <td>{{ patient.user.phone_number }}</td>
                          <td>{{ patient.user.last_visit }}</td> 
                          <td>
                              <a href="{% url "custom-admin:edit-patient" patient.pk %}" class="btn btn-primary btn-sm">
                                  <span class="ti-pencil-alt"></span> Edit
                              </a>
                              
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_{{ patient.pk }}">
                            <span class="ti-trash"></span> Delete
                          </button>
                          </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- /Widget Item -->
          </div>
        </div>
        <!-- /Main Content -->
      </div>
      <!-- /Page Content -->
    </div>


    {% for patient in patients %}
    <div class="modal fade proclinic-modal-lg" id="deleteModal_{{ patient.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lorvens" role="document">
        <div class="modal-content proclinic-box-shadow2">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Are you sure you want to delete this <b>{{ patient.user.first_name }}</b> ?</h5>
          </div>
          <div class="modal-footer">
            <!-- Form for delete action -->
            <form method="post" action="{% url "custom-admin:delete-patient" patient.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock %}
































