{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ProClinic-Bootstrap4 Hospital Admin</title>
    <!-- Fav Icon Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'images/fav.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/red.css' %}" id="style_theme">
	<!-- SweetAlert2 CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

	<!-- SweetAlert2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <script src="{% static 'js/modernizr.min.js' %}"></script>
</head>
<body class="auth-bg">
    <!-- Pre Loader -->
    <div class="loading">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

  <div class="wrapper">
      <!-- Page Content -->
      <div id="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 auth-box">
              <div class="proclinic-box-shadow">
                <!-- Page Title -->
                <h3 class="widget-title">Change Password</h3>
                <!-- /Page Title -->
               
                <!-- Form -->
                <form method="post" class="widget-form">
                  {% csrf_token %}
                  
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        id="{{ form.old_password.id_for_label }}"
                        name="{{ form.old_password.name }}"
                        placeholder="Current Password"
                        class="form-control{% if form.old_password.errors %} is-invalid{% endif %}"
                      />
                      {% if form.old_password.errors %}
                        <div class="invalid-feedback">
                          {% for error in form.old_password.errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        id="{{ form.new_password1.id_for_label }}"
                        name="{{ form.new_password1.name }}"
                        placeholder="New Password"
                        class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}"
                      />
                      {% if form.new_password1.errors %}
                        <div class="invalid-feedback">
                          {% for error in form.new_password1.errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input
                        type="password"
                        id="{{ form.new_password2.id_for_label }}"
                        name="{{ form.new_password2.name }}"
                        placeholder="Confirm New Password"
                        class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}"
                      />
                      {% if form.new_password2.errors %}
                        <div class="invalid-feedback">
                          {% for error in form.new_password2.errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                
                  <!-- Button -->
                  <div class="button-btn-block">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                      Change Password
                    </button>
                  </div>
                  <!-- /Button -->
                
                  <!-- Links -->
                  <div class="auth-footer-text">
                    <small><a href="{{ cancel_url }}">Back</a> Here</small>
                  </div>
                  <!-- /Links -->
                </form>
                
                <!-- /Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /Page Content -->
    </div>
 <!-- Jquery Library-->
 <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
 <!-- Popper Library-->
 <script src="{% static 'js/popper.min.js' %}"></script>
 <!-- Bootstrap Library-->
 <script src="{% static 'js/bootstrap.min.js' %}"></script>
 <!-- SweetAlert2 JS -->
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
 <!-- Custom Script-->
 <script src="{% static 'js/custom.js' %}"></script>

 <script>
     document.addEventListener('DOMContentLoaded', function () {
         {% if form.non_field_errors %}
             Swal.fire({
                 icon: 'error',
                 title: 'Oops...',
                 text: '{% for error in form.non_field_errors %}{{ error }}{% endfor %}',
             });
         {% endif %}
     });
 </script>
</body>
</html>
